.test {
  color: white;
  margin-bottom: 50px;
}

body {
background: black;
}


/* Nav */
nav {
height: 70px;
z-index: 3;
}

.container{
    /* margin: 0; */
    max-width: 1440px;
}

.font {
font-family: itc-avant-garde-gothic-pro, sans-serif;
font-weight: 700;
font-style: normal;
}

nav #brand {
float: left;
display: block;
margin-left: 20px;
font-size: 50px;
line-height: 70px;
font-weight: bold;
}

nav #brand a {
color: #fff;
transition: all 0.3s ease-out;
}

nav #brand a:hover {
color: #777777;
}

nav #menu {
float: left;
left: 15%;
position: relative;
}

ul{
list-style-type: none;
padding: 0;
margin:0
}

nav #menu li {
display: inline-block;
cursor: pointer;
line-height: 70px;
position: relative;
transition: all 0.3s ease-out;
}

nav #menu li a {
color: white;
}

nav #menu li:hover {
background: #333;
}

#toggle {
position: absolute;
right: 20px;
top: 14px;
z-index: 999;
width: 40px;
height: 40px;
cursor: pointer;
float: right;
transition: all 0.3s ease-out;
visibility: hidden;
opacity: 0;
}

#toggle .span {
height: 7px;
background: white;
margin: 5px auto;
backface-visibility: hidden;
}

#toggle.on #one {
transform: rotate(45deg) translateX(6px) translateY(6px);
background: black;
}

#toggle.on #two {
opacity: 0;
}

#toggle.on #three {
transform: rotate(-45deg) translateX(10px) translateY(-12px);
background: black;
}

#hamburger {
z-index: 5;
position: absolute;
top: 0px;
background: #ddd;
width: 100%;
height: 100%;
opacity: 0;
transition: all 0.3s ease-out;
display: table;
opacity: 0.99;
}

#hamburger #menu {
height: 50px;
display: table-cell;
vertical-align: middle;
}

#hamburger #menu li {
display: block;
text-align: center;
padding: 20px 0;
text-align: center;
font-size: 50px;
min-height: 50px;
font-weight: bold;
cursor: pointer;
transition: all 0.3s ease-out;
}

#hamburger #menu li:hover {
background: #212121;
}

#hamburger #menu li:hover a {
color: #fff;
transition: all 0.3s ease-out;
}

#hamburger #menu li a {
color: #212121;
}
/* 
#hamburger.active {
visibility: visible;
opacity: 0.99;
} */


#toggle {
  visibility: visible;
  opacity: 1;
}
nav #menu {
  display: none;
}










.bloc_left_price {
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 150%;
}
.category_block li:hover {
    background-color: gray;
}
.category_block li:hover a {
    color: #ffffff;
}
.category_block li a {
    color: #343a40;
}
.add_to_cart_block .price {
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 200%;
    margin-bottom: 0;
}
.add_to_cart_block .price_discounted {
    color: #343a40;
    text-align: center;
    text-decoration: line-through;
    font-size: 140%;
}
.product_rassurance {
    padding: 10px;
    margin-top: 15px;
    background: #ffffff;
    border: 1px solid #6c757d;
    color: #6c757d;
}
.product_rassurance .list-inline {
    margin-bottom: 0;
    text-transform: uppercase;
    text-align: center;
}
.product_rassurance .list-inline li:hover {
    color: #343a40;
}
.reviews_product .fa-star {
    color: gold;
}
.pagination {
    margin-top: 20px;
}
footer {
    margin-top: 50px;
    background: white;
    padding: 60px;
}
footer a {
    font-weight: bold;
    color: black;
}
.h5Alt {
    font-weight: bold;
    color: black;
}

/* Product Cards */
img{
  width: 400px;
  height: 300px;
  object-fit: cover
}

.product-description{
  width: 100%;
  height: 100px;
  overflow: scroll;
}

.product-name{
  white-space: nowrap; 
  width: 100%; 
  overflow: hidden;
  text-overflow: ellipsis; 
}
