@import url('https://use.typekit.net/zlx6nkj.css');

.test {
  color: white;
  margin-bottom: 3.125rem;
}

body {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: open-sans, sans-serif;
    background: black;
}

.container{
    /* margin: 0; */
    max-width: 90rem;
}

/* ----------------style for shopname and hamburger ---------------- */


.font {
font-family: itc-avant-garde-gothic-pro, sans-serif;
font-weight: 700;
font-style: normal;
}

/* ----------------style for input ---------------- */


input {
    color: black;
    font-family: open-sans, sans-serif;
    font-size: 1.5vw;
  }

  /* ----------------style for navbar ---------------- */

/* Nav */
nav {
    height: 4.375rem;
    z-index: 3;
    padding-left: 0.5em;
    padding-right: 1em;
    }

    
nav #brand {
    float: left;
    display: block;
    font-size: 3.125rem;
    line-height: 3.375rem;
    font-weight: bold;
}



nav #brand a {
color: #fff;
transition: all 0.3s ease-out;
}

nav #brand a:hover {
color: #777777;
}

nav #menu {
float: left;
left: 15%;
position: relative;
}

ul{
list-style-type: none;
padding: 0;
margin:0
}

nav #menu li {
display: inline-block;
cursor: pointer;
line-height: 4.375rem;
position: relative;
transition: all 0.3s ease-out;
}

nav #menu li a {
color: white;
}

nav #menu li:hover {
background: #333;
}

#toggle {
position: absolute;
right: 1.25rem;
top: 0.875rem;
z-index: 999;
width: 2.5rem;
height: 2.5rem;
cursor: pointer;
float: right;
transition: all 0.3s ease-out;
visibility: hidden;
opacity: 0;
}

#toggle .span {
height: 0.4375rem;
background: white;
margin: 0.3125rem auto;
backface-visibility: hidden;
}

#toggle.on #one {
transform: rotate(45deg) translateX(0.375rem) translateY(0.375rem);
background: black;
}

#toggle.on #two {
opacity: 0;
}

#toggle.on #three {
transform: rotate(-45deg) translateX(0.625rem) translateY(-0.75rem);
background: black;
}

#hamburger {
z-index: 5;
position: absolute;
top: 0rem;
background: #ddd;
width: 100%;
height: 100%;
opacity: 0;
transition: all 0.3s ease-out;
display: table;
opacity: 0.99;
}

#hamburger #menu {
height: 3.125rem;
display: table-cell;
vertical-align: middle;
}

#hamburger #menu li {
display: block;
text-align: center;
padding: 1.25rem 0;
text-align: center;
font-size: 3.125rem;
min-height: 3.125rem;
font-weight: bold;
cursor: pointer;
transition: all 0.3s ease-out;
}

#hamburger #menu li:hover {
background: #212121;
}

#hamburger #menu li:hover a {
color: #fff;
transition: all 0.3s ease-out;
}

#hamburger #menu li a {
color: #212121;
}


#toggle {
  visibility: visible;
  opacity: 1;
}
nav #menu {
  display: none;
}






/* ----------------style of modal---------------- */

.modalHeader {
    font-family: itc-avant-garde-gothic-pro, sans-serif;
    color: black;
    /* font-weight: bold;  */
    /* font-size: 5vw; */
  }
  
.modalHeaderWhite {
    font-family: itc-avant-garde-gothic-pro, sans-serif;
    color: white;
    /* font-weight: bold;  */
    /* font-size: 5vw; */
  }

  /* ----------------style for jumbotron ----------------*/
  .jumbotronTitle {
    font-family: itc-avant-garde-gothic-pro, sans-serif;
    color: black;
    font-weight: bold; 
    font-size: 5vw;
  }

  .instructionsWhite {
    color: white;
    font-family: open-sans, sans-serif;
    font-size: 2.1vw;
  }


  @media screen and (max-width: 600px) {
    .jumbotronTitle {
      
      font-size: 10vw;
    }
    .instructions {
      font-size: 3vw;
    }
    
    .input {
      font-size: 3vw;
    }
  }
  



/* ----------------style for button ---------------- */
  
  .blackButton {
    color: white;
    background-color: black;
    border-radius: 5px;
    padding: 4pt;
    margin-right: 4pt;
  }


.bloc_left_price {
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 150%;
}


/* ----------------Product Cards---------------- */

img{
    width: 25vw;
    height: 20vw;
    object-fit: cover
  }
  
  .product-description{
    width: 100%;
    height: 6.25rem;
    overflow: scroll;
  }
  
  .product-name{
    white-space: nowrap; 
    width: 100%; 
    overflow: hidden;
    text-overflow: ellipsis; 
  }
  

.category_block li:hover {
    background-color: gray;
}
.category_block li:hover a {
    color: #ffffff;
}
.category_block li a {
    color: #343a40;
}
.pagination {
    margin-top: 1.25rem;
}
footer {
    margin-top: 3.125rem;
    background: white;
    padding: 3.75rem;
}
footer a {
    font-weight: bold;
    color: black;
}
.h5Alt {
    font-weight: bold;
    color: black;
}



.vertical-center {
    min-height: 100vh; /* These two lines are counted as one :-)       */
    display: flex;
    padding-top: 25vh;
  }


/* --------style for tabs : reset tab nav-------- */

a .nav-link {
    padding: 0.5rem 1rem 0.5rem 1rem!important;
    height: 3rem!important
}

.nav-tabs{
    height: 3rem!important;
    margin-bottom: 2rem
}



/*---------Landing page shop animation---------*/
.landingImage{
    padding: 0px, 0px, 0px, 0px;
    margin: 0px, 0px, 0px, 0px;
}

.fadein{
    justify-content: center;
    display: flex;
    vertical-align: top;
    height: 100%
}
.fadein img {
    object-fit: scale-down!important;
    position:absolute;
    /* left: 5vw; */
    /* top: 2vw; */
    animation-name: fade;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
   
  }
  
  @keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 0;}
  }
  
  .f2 {
    animation-delay: 1s;
  }
  
  .f3 {
    animation-delay: .5s;
  }
  
  .f4 {
    object-fit: scale-down!important;
  
    margin:auto;
  }
  
  .flash {
      animation-name: fade;
      animation-iteration-count: infinite;
      animation-duration: 1.5s;
  }
  
  .l {
      animation-name: fade;
      animation-iteration-count: infinite;
      animation-duration: .5s;
  }
  
  .rectangle {
      height: 5vw;
      width: 15vw;
  }
  

  /* style for landing page */

  .landingTile{
    font-size: 4vw;
    color: white;
    font-family: itc-avant-garde-gothic-pro, sans-serif;


  }

  .landingSubtitle{
    font-size: 1.5vw;
    color: white;
    font-family: open-sans, sans-serif;


  }