.signupbody{
  display: flex;
  flex-flow: row wrap;
}
.signupCont{
  justify-content: center;
  display: flex;
}
.signupHeader{
  font-size: 2rem;
}
.signupPara{
  font-size:1rem;
}
.info{
  width:50%;
  padding:.5rem;
}
.forminput{
  width:50%;
  padding:.5rem;
}