
.scroll {
opacity: 0.6;
background-color: gray;
width: 2.5rem;
height: 2.5rem;
position: fixed;
border-radius: 0rem;
border: none;
bottom: 2.5rem;
right: 1.25rem;
}

.scroll:hover {
opacity: 1;
}

.arrow-up {
color: white;
position: absolute;
top: 50%;
left: 50%;
margin-top: 0rem;
margin-left: 0rem;
}